# Configurações do Redis
REDIS_PASSWORD=your_strong_password_here

# Configurações do Redis Commander
REDIS_COMMANDER_USER=admin
REDIS_COMMANDER_PASSWORD=admin123

# Configurações do Redis Insight
# Não requer configurações adicionais

# Configurações de ambiente
NODE_ENV=development
